
- PySpark Dataframe
- Lectura del conjunto de datos
- Comprobaci贸n de los tipos de datos de la columna (schema)
- Selecci贸n de columnas e indexaci贸n
- Marque la opci贸n Describir similar a Pandas
- Agregar columnas
- Tirando columnas
- Renombrando columnas

In [53]:
from pyspark.sql import SparkSession

In [54]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [55]:
spark

In [56]:
## Leemos el dataset
df_spark = spark.read.csv('./test1.csv', header=True, inferSchema=True)

In [57]:
## Check schema
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [58]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [59]:
df_spark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [60]:
df_spark.select(['Name', 'Age']).show()

+---------+---+
|     Name|Age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Harsha| 21|
|  Shubham| 23|
+---------+---+

In [61]:
df_spark['Name']

Column<'Name'>

In [62]:
df_spark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [63]:
df_spark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  null|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  null| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [64]:
df_spark = df_spark.withColumn('Experience After 2 years', df_spark['Experience'] + 2)

In [66]:
df_spark.show()

+---------+---+----------+------+------------------------+
|     Name|age|Experience|Salary|Experience After 2 years|
+---------+---+----------+------+------------------------+
|    Krish| 31|        10| 30000|                      12|
|Sudhanshu| 30|         8| 25000|                      10|
|    Sunny| 29|         4| 20000|                       6|
|     Paul| 24|         3| 20000|                       5|
|   Harsha| 21|         1| 15000|                       3|
|  Shubham| 23|         2| 18000|                       4|
+---------+---+----------+------+------------------------+

In [68]:
# Drop the columns
df_spark=df_spark.drop('Experience After 2 years')

In [69]:
df_spark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [70]:
# Renamed column
df_spark = df_spark.withColumnRenamed('Name', 'New Name')

In [71]:
df_spark.show()

+---------+---+----------+------+
| New Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+